*{
  margin: 0;
  padding: 0;
}

html{
  --vh: 7.23px
}

body{
  touch-action: pan-y;
  background-image: linear-gradient(to top left, #eaafc8, 35%, #654ea3);
}

body::-webkit-scrollbar {
  display: none;
}